server:
  port: 8082

spring:
  application:
    name: consumer-service
  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:localhost:29092}
    consumer:
      group-id: user-events-consumer-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.type.mapping: userEvent:com.example.consumer.model.UserEvent
    listener:
      ack-mode: manual

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always
springdoc.api-docs.path: /api-docs
springdoc.swagger-ui.path: /swagger-ui.html
springdoc.swagger-ui.operationsSorter: method
springdoc.swagger-ui.tagsSorter: alpha
kafka:
  topic:
    name: user-events
